<section>
  <div
    #contact_list
    class="container-wsp-contact-list row animate__animated animate__bounceInUp"
  >
    <div class="col-12 p-1 container-title-wsp">
      <p class="text-1r mb-0 title-wsp">Nuestros asesores</p>
    </div>
    <div class="container-contacts col-12">
      <div class="row">
        <div *ngFor="let h of helpers" class="col-12 mt-1 mb-1">
          <div
            class="col-12 d-flex align-items-center justify-content-between container-items-wsp"
            style="height: 100%"
          >
            <a
              class="col-8 mb-0 contact-wsp decoration-none pointer"
              href="https://api.whatsapp.com/send/?phone={{ h.whatsapp }}"
              target="_blank"
              >{{ h.name }}</a
            >
            <a
              class="d-flex justify-content-center"
              style="height: 100%"
              href="https://api.whatsapp.com/send/?phone={{ h.whatsapp }}"
              target="_blank"
            >
              <svg
                #wsp
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-whatsapp col-2 wsp-icon-contact"
                width="50"
                height="50"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#2DB146"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                <path
                  d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- contact list ends-->
  <div
    #wsp_container
    class="btn-wsp animate__animated animate__bounceInUp animate__delay-3s"
    (click)="showContactList()"
  >
    <img
      class="icon-popup-wsp"
      src="./assets/src/images/icons/Digital_Glyph_Green.png"
      alt=""
    />
  </div>
  <!--  -->
  <div
    #wsp_container_2
    class="btn-wsp animate__animated wsp-container-2"
    (click)="closeContactList()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-x"
      width="45"
      height="45"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#00b341"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M18 6l-12 12" />
      <path d="M6 6l12 12" />
    </svg>
  </div>
  <!-- wsp buttons
    ends -->
  <div class="container-nav" style="width: 100%">
    <nav #navbar_menu class="navbar-navbar bg-gray" style="width: 100%">
      <div class="li-logo-nav">
        <a class="nav-logo" routerLink="/principal"
          ><img
            class="logo-w"
            src="./assets/src/images/altagama_01.webp"
            alt="Altagama"
            loading="lazy"
        /></a>
        <div class="icon-close">
          <svg
            #div_close
            (click)="closeMenu()"
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-x animate__animated animate__delay-1s"
            width="36"
            height="36"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#142938"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg>
        </div>
      </div>
      <div class="links">
        <a class="link-quest" routerLink="/about-us">Nosotros</a
        ><a class="link-quest" routerLink="/houses">Casas</a
        ><a class="link-quest" routerLink="/condos">Condominios</a>
        <a class="link-quest" routerLink="/lands">Terrenos</a>
        <a class="link-quest" routerLink="/shops">Local comercial</a>
        <a class="link-quest" routerLink="/projects">Proyectos</a>
      </div>
    </nav>
    <!-- NAVBAR MENU ENDS -->
    <div class="div-nav-2 bg-gray">
      <svg
        #icon_nav_2
        (click)="showMenu()"
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-menu-2 animate__animated"
        width="36"
        height="36"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#142938"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 6l16 0" />
        <path d="M4 12l16 0" />
        <path d="M4 18l16 0" />
      </svg>
    </div>
  </div>
  <!-- contaner nav ends -->
  <div class="container-team">
    <div class="parallax">
      <div
        class="container-text-parallax d-flex align-items-center justify-content-center"
      >
        <p class="title-team">Nuestro equipo</p>
      </div>
    </div>

    <div class="subcontainer-team">
      <div class="container-mision row">
        <div class="col-12 txt-center txt-justify">
          <p class="text-3r title-values pt-5">¿Quiénes somos?</p>
          <p class="values-text txt-justify p-4">
            Somos una empresa dedicada al mercado inmobiliario de interés
            social, enfocado en viviendas, terrenos y locales de buena calidad,
            con el fin de satistacer a nuestros clientes que busquen una compra
            o bien una renta inmobiliaria accesible.
          </p>
        </div>
        <div
          class="col-6 container-text-mision d-flex flex-column align-items-center justify-content-center"
        >
          <p class="mb-0"><small>Nuestra</small></p>
          <p class="text-3r title-mision">Misión</p>
          <p class="text-mision-vision txt-justify">
            Ser una empresa que le brinde a cualquier emprendedor o buscador de
            una vivienda de interés social, ya sea para venta o renta. Contamos
            con las mejores opciones, las más accesibles y las más numerosas que
            pueda haber en el mercado. <br />
            Somos una empresa especialista en operación y comercialización de
            bienes inmuebles líder en su ramo.
          </p>
        </div>
        <div class="col-6 img-mision">
          <img
            class="w-100"
            src="./assets/src/images/misionwebp.webp"
            alt="Misión"
            loading="lazy"
          />
        </div>
      </div>
      <!-- mision1 ends -->

      <div class="parallax-vision row">
        <div
          class="col-12 container-text-vision-responsive d-flex flex-column align-items-center justify-content-center"
        >
          <p class="mb-0"><small>Nuestra</small></p>
          <p class="text-3r title-vision">Visión</p>
          <p class="text-mision-vision txt-justify">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            porro hic architecto commodi veniam recusandae nulla non, ab soluta
            alias odit dignissimos amet expedita incidunt voluptatibus magni
            doloribus esse sint <br />
            commodi veniam recusandae nulla non, ab soluta alias odit
            dignissimos amet expedita incidunt voluptatibus magni doloribus esse
            sint.
          </p>
        </div>

        <div
          class="offset-6 col-6 container-text-vision d-flex flex-column align-items-center justify-content-center"
        >
          <p class="mb-0"><small>Nuestra</small></p>
          <p class="text-3r title-vision">Visión</p>
          <p class="text-mision-vision txt-justify">
            Ser la empresa líder de todo México, de vivienda de interés social
            para venta y renta de locales y terrenos para emprendedores para el
            desarrollo de sus proyectos y emprendimientos. <br />
            Ser la empresa con mejores y más abundantes inventarios centrados en
            tener la mejor calidad para satistacción de nuestros clientes.
          </p>
        </div>
      </div>
      <!-- Vision ends -->
      <div
        class="container-values d-flex flex-column align-items-center justify-content-center"
      >
        <p class="text-3r title-values">Nuestros Valores</p>
        <div class="text-center container-values-text">
          <p class="values-text">
            Contamos con 9 valores que definen nuestra esencia como Compañía y
            que son consistentes con nuestro origen y sueños.
          </p>
        </div>

        <svg
          width="100%"
          height="100%"
          id="svg"
          viewBox="0 0 1440 390"
          xmlns="http://www.w3.org/2000/svg"
          class="transition duration-300 ease-in-out delay-150"
        >
          <path
            d="M 0,400 C 0,400 0,200 0,200 C 107.28571428571428,181.35714285714286 214.57142857142856,162.71428571428572 336,177 C 457.42857142857144,191.28571428571428 593,238.49999999999994 734,249 C 875,259.50000000000006 1021.4285714285713,233.2857142857143 1140,219 C 1258.5714285714287,204.7142857142857 1349.2857142857142,202.35714285714283 1440,200 C 1440,200 1440,400 1440,400 Z"
            stroke="none"
            stroke-width="0"
            fill="#2c3f4c"
            fill-opacity="1"
            class="transition-all duration-300 ease-in-out delay-150 path-0"
          ></path>
        </svg>
        <div class="container-values-list row mb-2 pb-5 values-list">
          <div
            *ngFor="let v of values"
            class="container-value col-4 d-flex justify-content-center align-items-center"
          >
            <div class="subcontainer-value">
              <div
                class="value d-flex flex-column justify-content-center align-items-center text-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-bookmark"
                  width="45"
                  height="45"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#ffffff"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"
                  />
                </svg>
                <p class="text-value">{{ v.value }}</p>
              </div>
              <p class="text-1r txt-justify text-value">
                {{ v.contain }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- list text values-no swiper -->

      <swiper
        class="swiper swiper-display-2"
        [config]="config2"
        data-swiper-autoplay="2000"
      >
        <ng-template *ngFor="let v of values" swiperSlide>
          <div class="container-values-list row mb-2 pb-5 swiper-values-list">
            <div
              class="container-value col-12 d-flex justify-content-center align-items-center"
            >
              <div class="subcontainer-value">
                <div
                  class="value d-flex flex-column justify-content-center align-items-center text-center"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-bookmark"
                    width="45"
                    height="45"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#ffffff"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"
                    />
                  </svg>
                  <p class="text-value">{{ v.value }}</p>
                </div>
                <p class="text-1r txt-justify text-value">
                  {{ v.contain }}
                </p>
              </div>
            </div>
          </div>

          <!--   <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <div
                      class="d-flex flex-column align-items-center justify-content-center"
                    >
                      <h6 class="card-title mb-0">
                        {{ helper.name }}
                      </h6>
                      <p class="card-text card-text-state mb-0">
                        <small class="text-muted"
                          >{{
                            helper.city?.id_state == 2 ||
                            helper.city?.id_state == 4
                              ? helper.city?.community
                              : helper.city?.city
                          }}, {{ helper.state?.state }}</small
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
        </ng-template>
        <!--  -->
      </swiper>

      <!-- swiper values ends -->

      <!-- Values ends -->
      <div class="container-team row d-flex align-items-center">
        <div class="col-12 d-flex flex-column align-items-center">
          <p class="text-3r title-team mb-5">Miembros</p>
          <img
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="1000"
            class="img-ceo"
            src="./assets/src/images/team/Licheri.webp"
            alt="Miembros"
            loading="lazy"
          />
          <p class="text-1_2r mt-2 mb-0">Heriberto Valdez</p>
          <p><small>CEO y Director</small></p>
        </div>
        <hr />
        <div class="col-12 txt-center">
          <p class="text-2r mt-4">Nuestros asesores</p>
        </div>
        <swiper
          class="swiper swiper-display"
          [config]="config"
          data-swiper-autoplay="2000"
        >
          <ng-template *ngFor="let helper of helpers" swiperSlide>
            <div
              class="card mb-3"
              style="max-width: 540px"
              data-aos="flip-up"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="1000"
            >
              <div class="row g-0">
                <div class="col-md-7 d-flex flex-column align-items-center">
                  <!-- 
                    animate__animated animate__backInLeft animate__delay-2s
                  -->
                  <img
                    alt="Asesor"
                    class="img-swiper br-img-1"
                    style="width: 100%"
                    loading="lazy"
                    src="{{ helper.image }}"
                  />
                </div>
                <div class="col-md-5">
                  <div class="card-body">
                    <div>
                      <h6 class="card-title mb-0">
                        {{ helper.name }}
                      </h6>
                    </div>

                    <p class="card-text card-text-state mb-0">
                      <small class="text-muted"
                        >{{
                          helper.city?.id_state == 2 &&
                          helper.city?.city == "Comarca Lagunera"
                            ? helper.city?.community
                            : helper.city?.city
                        }},
                        {{
                          helper.city?.community == "Gómez Palacio"
                            ? "Durango"
                            : helper.state?.state
                        }}</small
                      >
                    </p>
                    <p class="card-text mb-0"><small>Contacto</small></p>
                    <div class="social row d-flex align-items-center">
                      <a
                        class="col-3 mb-0"
                        href="https://api.whatsapp.com/send/?phone={{
                          helper.whatsapp
                        }}"
                        target="_blank"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-brand-whatsapp"
                          width="52"
                          height="35"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="#00b341"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"
                          />
                          <path
                            d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
                          />
                        </svg>
                      </a>
                      <a
                        class="col-3"
                        href="{{ helper.facebook }}"
                        target="_blank"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-brand-facebook"
                          width="52"
                          height="35"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="#00abfb"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
                          />
                        </svg>
                      </a>
                      <a
                        class="col-3 mb-0"
                        href="{{ helper.instagram }}"
                        target="_blank"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-brand-instagram"
                          width="52"
                          height="35"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="#597e8d"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                          />
                          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                          <path d="M16.5 7.5l0 .01" />
                        </svg>
                      </a>
                      <a
                        class="col-3 mb-0"
                        href="{{ helper.twitter }}"
                        target="_blank"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-brand-twitter"
                          width="52"
                          height="35"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="#00bfd8"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"
                          />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <!--  -->
        </swiper>
        <!-- swiper 1 ends -->
        <swiper
          class="swiper swiper-display-helpers-2"
          [config]="config2"
          (swiper)="automaticNextControl($event)"
        >
          <ng-template *ngFor="let helper of helpers" swiperSlide>
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col">
                <div class="card">
                  <div
                    class="d-flex align-items-center justify-content-center"
                    style="background-color: rgb(217, 225, 240)"
                  >
                    <img
                      data-aos="flip-up"
                      data-aos-easing="ease-out-cubic"
                      data-aos-duration="1000"
                      style="width: 50%"
                      loading="lazy"
                      src="{{ helper.image }}"
                      class="card-img-top"
                      alt="Asesor"
                    />
                  </div>

                  <div class="card-body">
                    <div
                      class="d-flex flex-column align-items-center justify-content-center"
                    >
                      <h6 class="card-title mb-0">
                        {{ helper.name }}
                      </h6>
                      <p class="card-text card-text-state mb-0">
                        <small class="text-muted"
                          >{{
                            helper.city?.id_state == 2 ||
                            helper.city?.id_state == 4
                              ? helper.city?.community
                              : helper.city?.city
                          }}, {{ helper.state?.state }}</small
                        >
                      </p>
                    </div>

                    <div class="social row d-flex align-items-center">
                      <a
                        class="col-3 mb-0"
                        href="https://api.whatsapp.com/send/?phone={{
                          helper.whatsapp
                        }}"
                        target="_blank"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-brand-whatsapp"
                          width="52"
                          height="35"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="#00b341"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"
                          />
                          <path
                            d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
                          />
                        </svg>
                      </a>
                      <a
                        class="col-3"
                        href="{{ helper.facebook }}"
                        target="_blank"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-brand-facebook"
                          width="52"
                          height="35"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="#00abfb"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
                          />
                        </svg>
                      </a>
                      <a
                        class="col-3 mb-0"
                        href="{{ helper.instagram }}"
                        target="_blank"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-brand-instagram"
                          width="52"
                          height="35"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="#597e8d"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                          />
                          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                          <path d="M16.5 7.5l0 .01" />
                        </svg>
                      </a>
                      <a
                        class="col-3 mb-0"
                        href="{{ helper.twitter }}"
                        target="_blank"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-brand-twitter"
                          width="52"
                          height="35"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="#00bfd8"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"
                          />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <!--  -->
        </swiper>

        <!-- swiper 2 ends -->
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container-footer">
    <div class="d-flex row">
      <div class="col-md-3 col-12 txt-justify p-4">
        <p class="text-1r">¿Quiénes somos?</p>
        <p class="text-08r">
          Somos una empresa dedicada al mercado inmobiliario de interés social,
          enfocado en viviendas, terrenos y locales de buena calidad.
        </p>
      </div>
      <div class="col-md-3 col-12 txt-justify p-4">
        <p class="text-1r">Contáctanos</p>
        <div class="d-flex gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-map-pin icon-w icon-footer"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#9e9e9e"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
            <path
              d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
            />
          </svg>
          <p class="text-08r">
            Av. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <div class="d-flex gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-phone icon-w icon-footer"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#9e9e9e"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
            />
          </svg>
          <p class="text-08r">(621) 754-754-7512</p>
        </div>
        <div class="d-flex gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-mail icon-w icon-footer"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#9e9e9e"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
            />
            <path d="M3 7l9 6l9 -6" />
          </svg>
          <p class="text-08r">lorem@gmail.com</p>
        </div>
      </div>
      <div class="col-md-3 col-12 txt-justify p-4">
        <p class="text-1r">Sede Monterrey</p>
        <div class="d-flex gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-map-pin icon-w icon-footer"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#9e9e9e"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
            <path
              d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
            />
          </svg>
          <p class="text-08r">
            Av. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <div class="d-flex gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-phone icon-w icon-footer"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#9e9e9e"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
            />
          </svg>
          <p class="text-08r">(621) 754-754-7512</p>
        </div>
      </div>
      <div class="col-md-3 col-12 txt-justify p-4">
        <p class="text-1r">Aviso de privacidad</p>
        <div class="div-social-media gap-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-youtube icon-w"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#9e9e9e"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M3 5m0 4a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v6a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z"
            />
            <path d="M10 9l5 3l-5 3z" />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-twitter icon-w"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#9e9e9e"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-instagram icon-w"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#9e9e9e"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
            />
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path d="M16.5 7.5l0 .01" />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-facebook icon-w"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#9e9e9e"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-end txt-center">
    <div class="img-footer-logo">
      <img
        class="footer-logo"
        loading="lazy"
        src="./assets/src/images/altagama_01.webp"
        alt="Footer logo"
      />
    </div>
    <div class="mr">
      <p><small>2023 | Todos los derechos reservados</small></p>
    </div>
  </div>
</footer>
