/* You can add global styles to this file, and also import other style files */
@import "swiper/swiper.min.css";
@import "swiper/modules/pagination/pagination.min.css";
@import "swiper/modules/navigation/navigation.min.css";

:root{
    --text-blue:#2C3F4C;
    --text-blue-off:#5a6f7e;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
}

/*align justify*/
.txt-justify {
    text-align: justify;
}

.txt-center {
    text-align: center;
}
/* Text color */
.text-blue-1{
    color:var(--text-blue)
}
.text-blue-2{
    color: var(--text-blue-off);
}

/* font size */
.text-08r{
    font-size: 0.8rem;
}
.text-1r{
    font-size: 1rem;
}
.text-1_2r{
    font-size: 1.2rem;
}
.text-1_5r{
    font-size: 1.5rem;
}
.text-2r{
    font-size: 2rem;
}
.text-3r{
    font-size: 3rem;
}